* {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url(../image/carosel1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 60vh;
}

.hero-text {
    color: #fff;
    font-size: 20px;
    line-height: 6rem;
    margin-top: 8rem;
}



/* .navbar ul li::after {
	content: '';
	height: 3px;
	width: 0%;
	background: #00b7ff;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
} */